-- baseparameters merge from Lab Foxx Excel | Unique parameters: 206 | Unmatched: 800

UPDATE baseparameters SET Limits='X2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=1; -- Acidity expressed as lactic acid
UPDATE baseparameters SET Limits='0.7- 1.0', MinLimit=0.7, MaxLimit=1, UnitOfMeasure='%', ResultType='rangeField', UpdatedAt=NOW() WHERE ParameterID=3; -- Calcium
UPDATE baseparameters SET Limits='0.1', MinLimit=MinLimit, MaxLimit=0.1, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=4; -- Lead
UPDATE baseparameters SET Limits='2450', MinLimit=2450, MaxLimit=MaxLimit, UnitOfMeasure='Kcal/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=5; -- Metabolizable energy
UPDATE baseparameters SET Limits='2.7', MinLimit=2.7, MaxLimit=2.7, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=7; -- Milk protein
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/g', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=13; -- Escherichia coli
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/g', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=15; -- Salmonella spp.
UPDATE baseparameters SET Limits='1000', MinLimit=MinLimit, MaxLimit=1000, UnitOfMeasure='cfu/g', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=16; -- Staphylococcus aureus
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/g', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=17; -- Total Coliforms
UPDATE baseparameters SET Limits='1000', MinLimit=MinLimit, MaxLimit=1000, UnitOfMeasure='cfu/g', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=19; -- Yeast and Moulds
UPDATE baseparameters SET Limits='700', MinLimit=MinLimit, MaxLimit=700, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=21; -- Total Disolved Solids
UPDATE baseparameters SET Limits='1.5', MinLimit=MinLimit, MaxLimit=1.5, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=22; -- Boron
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='ppm', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=23; -- Total Organic Carbon
UPDATE baseparameters SET Limits='0.9', MinLimit=MinLimit, MaxLimit=0.9, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=24; -- Nitrite
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='TCU', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=25; -- Colour
UPDATE baseparameters SET Limits='Not Objectionable', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure=UnitOfMeasure, ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=26; -- Taste
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='┬╡S/cm', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=28; -- Conductivity
UPDATE baseparameters SET Limits='Not Detectable', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=29; -- Suspended matter
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=30; -- Aluminium
UPDATE baseparameters SET Limits='0.1', MinLimit=MinLimit, MaxLimit=0.1, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=31; -- Arsenic
UPDATE baseparameters SET Limits='0.03', MinLimit=MinLimit, MaxLimit=0.03, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=32; -- Mercury
UPDATE baseparameters SET Limits='30', MinLimit=MinLimit, MaxLimit=30, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=33; -- Manganese
UPDATE baseparameters SET Limits='0.05', MinLimit=MinLimit, MaxLimit=0.05, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=34; -- Selenium
UPDATE baseparameters SET Limits='0.2-0.5', MinLimit=0.2, MaxLimit=0.5, UnitOfMeasure='mg/l', ResultType='rangeField', UpdatedAt=NOW() WHERE ParameterID=36; -- Residual free Chlorine
UPDATE baseparameters SET Limits='0.01', MinLimit=0.01, MaxLimit=MaxLimit, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=37; -- Mineral oil
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/ml', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=40; -- Sulphite reducing anaerobes
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/g', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=41; -- Legionella
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/ml', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=42; -- Giardia
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=44; -- Trihalomethanes
UPDATE baseparameters SET Limits='2', MinLimit=MinLimit, MaxLimit=2, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=46; -- Copper
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=47; -- Total alkalinity
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=48; -- Silica
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=51; -- Total Hardness
UPDATE baseparameters SET Limits='0. 2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=52; -- Chloride
UPDATE baseparameters SET Limits='21', MinLimit=21, MaxLimit=MaxLimit, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=53; -- Total Iron
UPDATE baseparameters SET Limits='0.15', MinLimit=0.15, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=54; -- Sodium
UPDATE baseparameters SET Limits='1.5', MinLimit=MinLimit, MaxLimit=1.5, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=56; -- Zinc
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=57; -- Magnesium
UPDATE baseparameters SET Limits='0.05', MinLimit=MinLimit, MaxLimit=0.05, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=58; -- Cadmium
UPDATE baseparameters SET Limits='0.5', MinLimit=MinLimit, MaxLimit=0.5, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=59; -- Ammonia (NH3)
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=61; -- Nickel
UPDATE baseparameters SET Limits='2.4', MinLimit=MinLimit, MaxLimit=2.4, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=64; -- Boron, as Boric acid
UPDATE baseparameters SET Limits='2', MinLimit=MinLimit, MaxLimit=2, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=65; -- Fluoride
UPDATE baseparameters SET Limits='0.07', MinLimit=MinLimit, MaxLimit=0.07, UnitOfMeasure=UnitOfMeasure, ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=67; -- Molybdenum
UPDATE baseparameters SET Limits='10', MinLimit=MinLimit, MaxLimit=10, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=68; -- Benzene
UPDATE baseparameters SET Limits='700', MinLimit=MinLimit, MaxLimit=700, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=69; -- Toluene
UPDATE baseparameters SET Limits='0.7', MinLimit=MinLimit, MaxLimit=0.7, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=71; -- Polynuclear aromatic hydrocarbon
UPDATE baseparameters SET Limits='2', MinLimit=MinLimit, MaxLimit=2, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=72; -- Carbon tetracloride
UPDATE baseparameters SET Limits='30', MinLimit=MinLimit, MaxLimit=30, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=75; -- 1,1-Dichloroethene
UPDATE baseparameters SET Limits='40', MinLimit=MinLimit, MaxLimit=40, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=76; -- Tetrachloroethene
UPDATE baseparameters SET Limits='Nil', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=77; -- Phenols
UPDATE baseparameters SET Limits='200', MinLimit=MinLimit, MaxLimit=200, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=78; -- 2,4,6-Trichlorophenol
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='ppm', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=79; -- Chloroform
UPDATE baseparameters SET Limits='0.03', MinLimit=MinLimit, MaxLimit=0.03, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=80; -- Aldrin/Dieldrin
UPDATE baseparameters SET Limits='0.3', MinLimit=MinLimit, MaxLimit=0.3, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=81; -- Chlordane (total)
UPDATE baseparameters SET Limits='30', MinLimit=MinLimit, MaxLimit=30, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=82; -- 2,4-Dichlorophenoxyacetic acid
UPDATE baseparameters SET Limits='1', MinLimit=MinLimit, MaxLimit=1, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=83; -- DDT (total)
UPDATE baseparameters SET Limits='0.03', MinLimit=MinLimit, MaxLimit=0.03, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=84; -- Heptachlor and Heptaclor Expoxide
UPDATE baseparameters SET Limits='1', MinLimit=MinLimit, MaxLimit=1, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=85; -- Hexachlorobenzene
UPDATE baseparameters SET Limits='2', MinLimit=MinLimit, MaxLimit=2, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=86; -- Lindane BHC
UPDATE baseparameters SET Limits='20', MinLimit=MinLimit, MaxLimit=20, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=87; -- Methoxychlor
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/ml', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=90; -- Pseudomonas aeruginosa flourescence
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/ml', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=91; -- Streptococuss faecalis
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/ml', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=92; -- Shigella
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/ml', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=93; -- Vibrio cholerae
UPDATE baseparameters SET Limits='0.7', MinLimit=0.7, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=96; -- Phosphorus
UPDATE baseparameters SET Limits='X2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=97; -- Bicarbonate
UPDATE baseparameters SET Limits='X2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=98; -- Silicon
UPDATE baseparameters SET Limits='10', MinLimit=MinLimit, MaxLimit=10, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=99; -- Nitrate
UPDATE baseparameters SET Limits='12', MinLimit=12, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=100; -- Available carbon dioxide
UPDATE baseparameters SET Limits='100000', MinLimit=MinLimit, MaxLimit=100000, UnitOfMeasure='cfu/g', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=112; -- Total Viable Count
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/g', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=119; -- Enterobacteriaceae
UPDATE baseparameters SET Limits='10000', MinLimit=MinLimit, MaxLimit=10000, UnitOfMeasure='cfu/g', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=120; -- Yeast and Mould
UPDATE baseparameters SET Limits='0.3', MinLimit=MinLimit, MaxLimit=0.3, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=129; -- Ethanol content
UPDATE baseparameters SET Limits='46114', MinLimit=MinLimit, MaxLimit=4, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=130; -- Crude fat
UPDATE baseparameters SET Limits='5', MinLimit=MinLimit, MaxLimit=5, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=131; -- Acid Insoluble Ash
UPDATE baseparameters SET Limits='29.2', MinLimit=MinLimit, MaxLimit=29.2, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=132; -- Crude Fiber
UPDATE baseparameters SET Limits='15 - 18', MinLimit=15, MaxLimit=15, UnitOfMeasure='%', ResultType='rangeField', UpdatedAt=NOW() WHERE ParameterID=133; -- Crude protein
UPDATE baseparameters SET Limits='X2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure=UnitOfMeasure, ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=134; -- Ash
UPDATE baseparameters SET Limits='0.73 - 0.90', MinLimit=0.9, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType='rangeField', UpdatedAt=NOW() WHERE ParameterID=135; -- Total Phosphorous
UPDATE baseparameters SET Limits='0.2', MinLimit=0.2, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=136; -- Sodium Chloride
UPDATE baseparameters SET Limits='13', MinLimit=MinLimit, MaxLimit=13, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=137; -- Moisture
UPDATE baseparameters SET Limits='10', MinLimit=MinLimit, MaxLimit=10, UnitOfMeasure='ug/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=138; -- Total Aflatoxin
UPDATE baseparameters SET Limits='5', MinLimit=MinLimit, MaxLimit=5, UnitOfMeasure='ug/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=139; -- Aflatoxin B1
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=141; -- Chromium
UPDATE baseparameters SET Limits='7', MinLimit=MinLimit, MaxLimit=7, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=142; -- Free Fatty Acid % (Calculated as lauric acid in extracted fat
UPDATE baseparameters SET Limits='X2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mEq of oxygen/kg', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=143; -- Peroxide Value, mEq of active oxygen/kg
UPDATE baseparameters SET Limits='X2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=147; -- Iron
UPDATE baseparameters SET Limits='X2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='IU/kg', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=148; -- Vitamin A
UPDATE baseparameters SET Limits='0.  6', MinLimit=MinLimit, MaxLimit=0.6, UnitOfMeasure='mg/kg', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=153; -- Folic acid
UPDATE baseparameters SET Limits='0.007', MinLimit=0.01, MaxLimit=MaxLimit, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=154; -- Vitamin B1
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/g', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=155; -- Listeria monocytogenes
UPDATE baseparameters SET Limits='20', MinLimit=MinLimit, MaxLimit=20, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=158; -- Sulphur Dioxide
UPDATE baseparameters SET Limits='X2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/kg', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=160; -- Iodine
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='┬íC', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=164; -- Temperature
UPDATE baseparameters SET Limits='10', MinLimit=MinLimit, MaxLimit=10, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=165; -- Oil and Grease
UPDATE baseparameters SET Limits='30', MinLimit=MinLimit, MaxLimit=30, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=178; -- Fat content
UPDATE baseparameters SET Limits='0.5', MinLimit=MinLimit, MaxLimit=0.5, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=181; -- Milk fat % (m/m), min.
UPDATE baseparameters SET Limits='10000', MinLimit=MinLimit, MaxLimit=10000, UnitOfMeasure='cfu/g', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=197; -- Total plate count
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/g', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=205; -- Salmonella
UPDATE baseparameters SET Limits='0.5', MinLimit=MinLimit, MaxLimit=0.5, UnitOfMeasure='mg KOH/g', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=206; -- Acid Value, mgKOH/g oil
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=211; -- Total Nitrogen
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=215; -- Cobalt
UPDATE baseparameters SET Limits='30', MinLimit=MinLimit, MaxLimit=30, UnitOfMeasure='ppm', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=219; -- Ethyl alcohol, % by volume
UPDATE baseparameters SET Limits='500', MinLimit=MinLimit, MaxLimit=500, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=236; -- Pyrene
UPDATE baseparameters SET Limits='0.2', MinLimit=MinLimit, MaxLimit=0.2, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=237; -- Fluorene
UPDATE baseparameters SET Limits='2.2', MinLimit=MinLimit, MaxLimit=2.2, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=239; -- Phosphate, PO43-
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=241; -- Biological Oxygen Demand
UPDATE baseparameters SET Limits='100', MinLimit=MinLimit, MaxLimit=100, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=242; -- Total Ammonia
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=243; -- Chemical Oxygen Demand (COD)
UPDATE baseparameters SET Limits='250', MinLimit=MinLimit, MaxLimit=250, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=244; -- Total Suspended Solids
UPDATE baseparameters SET Limits='0.005', MinLimit=MinLimit, MaxLimit=0.01, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=247; -- Total Mercury
UPDATE baseparameters SET Limits='2', MinLimit=MinLimit, MaxLimit=2, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=249; -- Total Chromium
UPDATE baseparameters SET Limits='2', MinLimit=MinLimit, MaxLimit=2, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=250; -- Sulphides
UPDATE baseparameters SET Limits='Not Detectable', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=251; -- Total cyanogen
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=252; -- Free Residual chlorine
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=253; -- Phosphates as PO4-
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='ppm', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=254; -- Gold
UPDATE baseparameters SET Limits='0.1', MinLimit=MinLimit, MaxLimit=0.1, UnitOfMeasure='ppm', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=255; -- Free available chlorine
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=256; -- Dissolved Oxygen
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=257; -- Sulphate
UPDATE baseparameters SET Limits='0.06', MinLimit=MinLimit, MaxLimit=0.06, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=258; -- 1,1,1- trichloroethane
UPDATE baseparameters SET Limits='0.3', MinLimit=MinLimit, MaxLimit=0.3, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=260; -- 1,1- dichloroethylene
UPDATE baseparameters SET Limits='0.04', MinLimit=MinLimit, MaxLimit=0.04, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=261; -- 1,2- dichloroethane
UPDATE baseparameters SET Limits='0.02', MinLimit=MinLimit, MaxLimit=0.02, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=262; -- 1,3- dichloropropene
UPDATE baseparameters SET Limits='0.5', MinLimit=MinLimit, MaxLimit=0.5, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=263; -- Ammonia Nitrogen
UPDATE baseparameters SET Limits='0.1', MinLimit=MinLimit, MaxLimit=0.1, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=264; -- Cadmium and its compounds
UPDATE baseparameters SET Limits='0.4', MinLimit=MinLimit, MaxLimit=8, UnitOfMeasure='ppm', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=266; -- cis-1,2- dichloro ethylene
UPDATE baseparameters SET Limits='0.2', MinLimit=MinLimit, MaxLimit=0.2, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=267; -- Dichloromethane
UPDATE baseparameters SET Limits='5', MinLimit=MinLimit, MaxLimit=5, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=268; -- n-Hexane extracts (animal and vegetable fats)
UPDATE baseparameters SET Limits='1', MinLimit=MinLimit, MaxLimit=1, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=270; -- Organo-Phosphorous compounds
UPDATE baseparameters SET Limits='0.003', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=271; -- Polychlorinated biphenyls, PCBs
UPDATE baseparameters SET Limits='0.5', MinLimit=MinLimit, MaxLimit=0.5, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=272; -- Hexavalent chromium VI compounds
UPDATE baseparameters SET Limits='0.03', MinLimit=MinLimit, MaxLimit=0.03, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=273; -- Simazine
UPDATE baseparameters SET Limits='0.1', MinLimit=MinLimit, MaxLimit=0.1, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=274; -- Tetrachloroethylene
UPDATE baseparameters SET Limits='0.1', MinLimit=MinLimit, MaxLimit=0.1, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=275; -- Thiobencarb
UPDATE baseparameters SET Limits='0.06', MinLimit=MinLimit, MaxLimit=0.06, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=276; -- Thiram
UPDATE baseparameters SET Limits='0.3', MinLimit=MinLimit, MaxLimit=0.3, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=277; -- Trichloroethylene
UPDATE baseparameters SET Limits='X2(No Limits Defined)', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure=UnitOfMeasure, ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=278; -- Whole Effluent Toxicity
UPDATE baseparameters SET Limits='45', MinLimit=MinLimit, MaxLimit=45, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=279; -- Nitrates as NO3-
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='ppm', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=280; -- Substances with an obnoxious smell
UPDATE baseparameters SET Limits='4', MinLimit=MinLimit, MaxLimit=4, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=281; -- Free & saline ammonia
UPDATE baseparameters SET Limits='15', MinLimit=MinLimit, MaxLimit=15, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=282; -- Detergents
UPDATE baseparameters SET Limits='0.05', MinLimit=MinLimit, MaxLimit=0.05, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=283; -- Chromium VI
UPDATE baseparameters SET Limits='10', MinLimit=MinLimit, MaxLimit=10, UnitOfMeasure='cfu/g', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=285; -- Coliform
UPDATE baseparameters SET Limits='Not detected', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/g', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=287; -- Salmonella Per 125 g
UPDATE baseparameters SET Limits='0.5', MinLimit=MinLimit, MaxLimit=0.5, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=291; -- Foreign Matter
UPDATE baseparameters SET Limits='5', MinLimit=MinLimit, MaxLimit=5, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=296; -- Tin
UPDATE baseparameters SET Limits='1.4', MinLimit=1.4, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=302; -- Egg yolk solids if declared % by mass
UPDATE baseparameters SET Limits='8', MinLimit=MinLimit, MaxLimit=8, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=303; -- Total fat
UPDATE baseparameters SET Limits='<500', MinLimit=MinLimit, MaxLimit=500, UnitOfMeasure='cfu/g', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=326; -- Yeasts and Moulds
UPDATE baseparameters SET Limits='200', MinLimit=MinLimit, MaxLimit=200, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=327; -- Total Sulphur dioxide
UPDATE baseparameters SET Limits='200', MinLimit=MinLimit, MaxLimit=200, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=334; -- Surfactant
UPDATE baseparameters SET Limits='-0.550 to -0.525', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure=UnitOfMeasure, ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=341; -- Freezing point
UPDATE baseparameters SET Limits='14', MinLimit=MinLimit, MaxLimit=14, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=387; -- Moisture content (loss on drying for 3 h at 105 oC ┬▒ 2 oC)
UPDATE baseparameters SET Limits='3', MinLimit=MinLimit, MaxLimit=3, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=393; -- Total ash on dry basis
UPDATE baseparameters SET Limits='10', MinLimit=10, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=396; -- Total soluble solids
UPDATE baseparameters SET Limits='0.85 - 1.40', MinLimit=0.85, MaxLimit=1.4, UnitOfMeasure='g/cm3', ResultType='rangeField', UpdatedAt=NOW() WHERE ParameterID=397; -- Specific gravity at 20oC
UPDATE baseparameters SET Limits='14.9', MinLimit=14.9, MaxLimit=MaxLimit, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=400; -- Niacina
UPDATE baseparameters SET Limits='0.6 - 1.7', MinLimit=0.6, MaxLimit=1.7, UnitOfMeasure='mg/kg', ResultType='rangeField', UpdatedAt=NOW() WHERE ParameterID=402; -- Folate
UPDATE baseparameters SET Limits='2000', MinLimit=MinLimit, MaxLimit=2000, UnitOfMeasure='ug/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=405; -- Fumunisins
UPDATE baseparameters SET Limits='Negative', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure=UnitOfMeasure, ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=416; -- Phosphatase test
UPDATE baseparameters SET Limits='1000', MinLimit=MinLimit, MaxLimit=1000, UnitOfMeasure='cfu/g', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=420; -- Coagulase positive Staphylococcus aureus
UPDATE baseparameters SET Limits='10^6', MinLimit=MinLimit, MaxLimit=1000000, UnitOfMeasure='cfu/g', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=421; -- Aerobic colony count, cfu/g
UPDATE baseparameters SET Limits='40', MinLimit=MinLimit, MaxLimit=40, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=425; -- Hydroxymethyl furfural
UPDATE baseparameters SET Limits='3', MinLimit=3, MaxLimit=MaxLimit, UnitOfMeasure=UnitOfMeasure, ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=426; -- Diastase activity, schade
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/g', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=427; -- Coliform counts
UPDATE baseparameters SET Limits='0.5', MinLimit=MinLimit, MaxLimit=0.5, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=429; -- Calcium as Ca water soluble on D.M basis
UPDATE baseparameters SET Limits='0.5', MinLimit=MinLimit, MaxLimit=0.5, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=430; -- Sulphate as S04 on D.M basis
UPDATE baseparameters SET Limits='0.5', MinLimit=MinLimit, MaxLimit=0.5, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=431; -- Total Alkalinity as Na2CO3 on D.M basis
UPDATE baseparameters SET Limits='1', MinLimit=MinLimit, MaxLimit=1, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=435; -- Broken/split
UPDATE baseparameters SET Limits='3.5', MinLimit=MinLimit, MaxLimit=3.5, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=437; -- Total Defective
UPDATE baseparameters SET Limits='1.5', MinLimit=MinLimit, MaxLimit=1.5, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=438; -- Contrasting varieties
UPDATE baseparameters SET Limits='0.1', MinLimit=MinLimit, MaxLimit=0.1, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=440; -- Filth
UPDATE baseparameters SET Limits='0.1', MinLimit=MinLimit, MaxLimit=0.1, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=441; -- Other edible grains
UPDATE baseparameters SET Limits='0.55', MinLimit=0.55, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=446; -- Methionine and Cysteine
UPDATE baseparameters SET Limits='0.65', MinLimit=0.65, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=447; -- Lysine
UPDATE baseparameters SET Limits='42', MinLimit=42, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=448; -- Nitrogen free extract
UPDATE baseparameters SET Limits='0.5', MinLimit=MinLimit, MaxLimit=0.5, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=450; -- A.I.A, %mass fraction on dry basis
UPDATE baseparameters SET Limits='20', MinLimit=MinLimit, MaxLimit=20, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=452; -- Sugar
UPDATE baseparameters SET Limits='30', MinLimit=30, MaxLimit=MaxLimit, UnitOfMeasure='oB', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=454; -- Degree brix (oB) at 20 ┬░C Conc. products
UPDATE baseparameters SET Limits='10', MinLimit=10, MaxLimit=MaxLimit, UnitOfMeasure='oB', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=455; -- Degree brix (oB) at 20 ┬░C Ready to drink
UPDATE baseparameters SET Limits='0.25', MinLimit=MinLimit, MaxLimit=0.25, UnitOfMeasure=UnitOfMeasure, ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=456; -- Sugar free (glycogenic carbohydrates) Brix
UPDATE baseparameters SET Limits='3', MinLimit=3, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=463; -- Shriveled, diseased & discolored grain
UPDATE baseparameters SET Limits='1', MinLimit=MinLimit, MaxLimit=1, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=464; -- Broken and Split
UPDATE baseparameters SET Limits='2000', MinLimit=MinLimit, MaxLimit=2000, UnitOfMeasure='ug/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=466; -- Fumonisin
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/g', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=467; -- Streptococcous ureus per 25 g
UPDATE baseparameters SET Limits='60', MinLimit=MinLimit, MaxLimit=60, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=470; -- Free Sulphur dioxide
UPDATE baseparameters SET Limits='10', MinLimit=MinLimit, MaxLimit=10, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=475; -- Moisture and volatile matter
UPDATE baseparameters SET Limits='240', MinLimit=MinLimit, MaxLimit=240, UnitOfMeasure=UnitOfMeasure, ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=484; -- Number of nuts count per Kg, max (grade 1)
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/g', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=488; -- Pathogenic E.coli
UPDATE baseparameters SET Limits='5', MinLimit=MinLimit, MaxLimit=5, UnitOfMeasure='ug/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=489; -- Aflatoxins
UPDATE baseparameters SET Limits='Absent', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='cfu/g', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=490; -- Bacillus spp.
UPDATE baseparameters SET Limits='10', MinLimit=MinLimit, MaxLimit=10, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=493; -- Total hydrocyanic acid
UPDATE baseparameters SET Limits='0.3', MinLimit=0.3, MaxLimit=MaxLimit, UnitOfMeasure=UnitOfMeasure, ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=494; -- Urease activity, mg N/g/min
UPDATE baseparameters SET Limits='0.3', MinLimit=MinLimit, MaxLimit=0.3, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=495; -- Tannin content
UPDATE baseparameters SET Limits='X2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=496; -- Tetracyclines
UPDATE baseparameters SET Limits='X2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=497; -- Sulphonamides
UPDATE baseparameters SET Limits='8.5', MinLimit=8.5, MaxLimit=MaxLimit, UnitOfMeasure='%', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=499; -- Solids Non Fat
UPDATE baseparameters SET Limits='X2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure=UnitOfMeasure, ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=500; -- pH of milk
UPDATE baseparameters SET Limits='X2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=503; -- Melamine
UPDATE baseparameters SET Limits='X2', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='mg/l', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=504; -- Beta-lactams
UPDATE baseparameters SET Limits='3', MinLimit=MinLimit, MaxLimit=3, UnitOfMeasure='┬╡g/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=506; -- Inorganic matter
UPDATE baseparameters SET Limits='250', MinLimit=MinLimit, MaxLimit=250, UnitOfMeasure='mg/kg', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=508; -- Water Soluble Matter
UPDATE baseparameters SET Limits='1', MinLimit=MinLimit, MaxLimit=1, UnitOfMeasure='mg/l', ResultType='quantitativeField', UpdatedAt=NOW() WHERE ParameterID=513; -- Permanganate value
UPDATE baseparameters SET Limits='Nil', MinLimit=MinLimit, MaxLimit=MaxLimit, UnitOfMeasure='ppm', ResultType=ResultType, UpdatedAt=NOW() WHERE ParameterID=514; -- Radioactive residues

-- UNMATCHED (800):
-- Metabolizable Energy, Min, Kcal/kg
-- Methionine (min)
-- Total Ash %
-- Magnesium, % max.
-- Sodium Chloride (as NaCl), % by mass, min.
-- Moisture Content, % by mass, max.
-- Calcium, % max.
-- Metabolizable Energy, Min, Kcal/kg,
-- Methionine, %, min
-- Total Ash, %m/m
-- Crude Fiber, Max, %
-- Metabolizable Energy Mj/Kg DM Min
-- Crude Fibre , % Max
-- Total Phosphorus , % Min
-- Ethyl alcohol, % by volume, min.
-- Total Solids, g/100ml, max.
-- Volatile acids as acetic acid, g/100L of absolute alcohol, max.
-- Esters as ethyl acetate, g/100L of absolute alcohol, max.
-- Methyl alcohol, mg/L, max.
-- Higher alcohol as amyl alcohol, % by volume, max.
-- Aldehydes as acetaldehydes, g/100L, max.
-- Furfural, g/100 L of absolute alcohol, max.
-- Total acid as acetic Acid , Mg/l of absolute alcohol Max
-- Foreign Matter, % m/m, Max.
-- inorganic Matter, % m/m Max
-- Broken Kernels, % m/m, Max.
-- Pest damaged grains %, max.
-- Rotten & Diseased Grains, % m/m Max
-- Discoured grains , % m/m Max
-- Moisture, % m/m Max
-- Immature/shriveled grain , % m/m Max
-- Filth, % m/m Max
-- Total Aflatoxin ,ppb Max
-- Aflatoxin B1,ppb
-- Fumonisin ppm, max├è
-- Total Defective Grains , % m/m
-- Polarisation, ┬íZ Min
-- Invert Sugar content ,% m/m Max
-- Conductivity ashes , % m/m Max
-- Colour in ICUMSA units Max
-- Escherichia coli , cfu,/10g
-- salmonella , per 25g
-- Crude ash content ,% by mass on dry matter basis , Max
-- Moisture Content , % by mass
-- Crude Fibre Content ,% by mass on dry matter basis Max
-- Acid Insoluble ash ,% by mass on dry matter basis Max
-- Starch by Mass on dry Matter basis Min
-- Hydrogen Cyanide, ppm
-- Colour in Hazen Unit
-- Biological Oxygen Demand - (BOD5 at 20oC), mg/l
-- Fecal coliforms, cfu per 100ml
-- Zinc as Zn, mg/l
-- Lead as Pb, mg/l
-- Copper as Cu, mg/l
-- Iron as Fe, mg/l
-- Manganese as Mn, mg/l
-- Boron as B, mg/l
-- Alkyl mercury compounds as Hg, mg/l
-- Cadmium as Cd, Mg/l
-- Selenium as Se, mg/l
-- Total Nickel as Ni, mg/l
-- Arsenic as As, mg/l
-- Chloride, in mg/l
-- Free Residual chlorine, in mg./L
-- Fluoride as F, mg/l
-- Total Nitrogen as N, mg/l
-- Total Coliforms, cfu per 100 ml
-- E. Coli, cfu per 100 ml.
-- Total Phosphorous as P, mg/l
-- Dissolved Oxygen,├è
-- Boron and its compounds,mg/l
-- Fluoride and its compounds, mg/l
-- Lead and its compounds, mg/l
-- Selenium and its compounds, mg/l
-- Tin as Sn, mg/l
-- Settleable Solids
-- Calcium as Ca, mg/l
-- Colour in Hazen units
-- Temperature, 0C
-- Total Cyanide, mg/l
-- Alkyl Mercury
-- Calcium carbide
-- Inflammable solvents
-- Residual chlorine
-- Degreasing Solvents
-- Sodium as Na, mg/l
-- Phosphate PO42-, mg/l
-- Nitrates NO3-, mg/l
-- Ammonia,Total in mg/L Max
-- Sulphate as SO4, mg/l
-- Turbidity (NTU), max.
-- Total Hardness, as CaCO3,mg/l
-- Aluminium, as AI, mg/l
-- Chloride, as Cl, mg/l
-- Total Iron as Fe, mg/l
-- Sodium, as├è Na, mg/l
-- Sulphate SO42-, mg/l
-- Zinc, as Zn, mg/l
-- Magnesium, as Mg, mg/l
-- Calcium, as Ca, mg/l
-- Arsenic, as As, mg/l
-- Cadmium as Cd, mg/l
-- Lead, as Pb, mg/l
-- Manganese, as Mn, mg/l
-- Selenium, as Se, mg/l
-- Chromium Total, as Cr, mg/l
-- Nickel, as Ni, mg/l
-- Cyanide, as CN, mg/l
-- Barium, as Ba, mg/l
-- Fluoride, as F, mg/l
-- Bromate, as BrO3, mg/l
-- Benzene, ┬╡g/l
-- Toluene, ┬╡g/l
-- Xylene, ┬╡g/l
-- Polynuclear aromatic hydrocarbon, ┬╡g/l
-- Carbon tetracloride , ┬╡g/l
-- 1,2-Dichloroethane, ┬╡g/l
-- 1,1-Dichloroethylene, ┬╡g/l
-- 1,1-Dichloroethene, ┬╡g/l
-- Tetrachloroethene, ┬╡g/l
-- Phenols, ┬╡g/l
-- 2,4,6-Trichlorophenol, ┬╡g/l
-- Chloroform, ┬╡g/l
-- Aldrin/Dieldrin,, ┬╡g/l
-- Chlordane (total), ┬╡g/l
-- 2,4-Dichlorophenoxyacetic acid, ┬╡g/l
-- DDT (total), ┬╡g/l
-- Heptachlor and Heptaclor Expoxide, ┬╡g/l
-- Hexachlorobenzene, ┬╡g/l
-- Lindane BHC, ┬╡g/l
-- Methoxychlor, ┬╡g/l
-- Surfactants (reacting with methylene Blue), ┬╡g/l
-- Total viable counts at 22oC in mL,max.
-- Total viable counts at 370C, in mL, max.
-- Total Coliforms├èin 100ml
-- E. coli├èin 100 mL
-- Staphylococcus aureus in 100mL
-- Sulphite reducing anaerobes in 100mL
-- Pseudomonas aeruginosa flourescence in 100ml
-- Streptococuss faecalis in 100mL
-- Shigella in 100mL
-- Salmonella in 100mL
-- Copper, as Cu, mg/l
-- Cryptosporidium, per 100ml
-- Boiling point, C
-- Potassium as K, (mg/L)
-- Calcium Carbonates in mg/l
-- Calcium Bicarbonates in mg/L
-- Gross alpha activity, Bq/L
-- Gross Beta activity, Bq/L
-- Dissolved Carbon dioxide in mg/L
-- Turbidity (NTU) max.
-- Copper as Cu,mg/L
-- Casein, in ppm
-- Gluten, in ppm
-- Total Hardness├è, mg/L
-- Aluminium, as AI, mg/L
-- Chloride, as Cl-,mg/L
-- Total Iron as Fe,mg/L
-- Sodium, as├è Na,mg/L
-- Sulphate as SO4,mg/L
-- Zinc, as Zn,mg/L
-- Magnesium, as Mg,mg/L
-- Calcium, as Ca,mg/L
-- Arsenic, as As, mg/L
-- Cadmium as Cd ,mg/L
-- Lead, as Pb ,mg/L
-- Manganese, as Mn, mg/L
-- Selenium, as Se, mg/L
-- Chromium Total, as Cr ,mg/L
-- Nickel, as Ni ,mg/L
-- Cyanide, as CN ,mg/L
-- Barium, as Ba ,mg/L
-- Fluoride, as F ,mg/L
-- Bromate, as BrO3├è,mg/L
-- Total viable counts at 370C, in mL,max.
-- E. coli, cfu/100 mL
-- Potassium as K, mg/l
-- Salinity in mg/L
-- Total Suspended Solids, TSS mg/L
-- Nitrite- NO2 mg/L
-- Total Dissolved Solids; TDS mg/L
-- E. coli cfu per 100ml
-- Alkyl benzyl sulphonates mg/L
-- Hardness (mg/l)
-- Orthophosphate (P mg/l)
-- Total Active Content, % by mass, min
-- pH at 20oC
-- Lather volume, mL, min
-- Total bacterial count, cfu/g, max
-- Yeast & moulds, cfu/g, max
-- Lather volume, ml, min
-- Total Active detergent Matter, % by mass, min
-- Candida albicans,cfu/0.5g
-- Escherichia coli, cfu/0.5g
-- Lather volume for 1% Soln, mL , min, (5mins)
-- pH @ 25oC
-- Lead, mg/kg, Max.
-- Mercury, mg/kg. max
-- Total Heavy Metals Mg/kg Max
-- Pseudomonas aureginosa, cfu/0.5g
-- Staphylococcus aureus, cfu/0.5g
-- Surfactant , % m/m , min
-- Foaming ability, ml, min├è
-- Solvent, % by mass, max
-- Residue
-- Low-Temperature Stability
-- Stability to hard water
-- High Temperature Stability
-- Biodegradability
-- Total Plate Count, cfu/g, max.
-- pH, min.
-- Fruit Juice/Puree, % min.
-- Sweetening agents, %
-- E.coli, cfu/g
-- Yeast & Moulds, cfu/g
-- Arsenic as As, mg/kg
-- Lead as Pb, mg/kg
-- Cadmium as Cd, mg/kg, max.
-- Acid insoluble ash, %, max.
-- Matter insoluble in water % (m/m), max,├è├è
-- Rinsing properties
-- Active ingredient, % by mass, min.
-- pH at 27oC OF 1 % Soln, v/v
-- Total non-detergent organic matter, % by mass, max
-- Inorganic salts Content , % (m/m), max
-- lather volume for 1% Soln, mL , min,
-- Antibacterial activity
-- Crude fibre ,% Max
-- Total Ash % Max
-- Available Phosphorus % Min
-- Total Lysine %  Min
-- Total Methionine % Min
-- Vitamin D3, IU/kg, min
-- Vitamin E , IU/kg , Min
-- Vitamin K , Mg/Kg
-- Vitamin B1, Thiamine , mg/kg
-- Vitamin B2, Riboflavin, mg/kg
-- Vitamin B6, Pyridoxine , mg/kg
-- Vitamin B12, mcg/kg
-- Panthotenic acid , mg/kg
-- Biotin, mcg/kg
-- Choline , mg/kg
-- Copper as Cu, mg/kg
-- Zinc as Zn , mg/kg
-- Total ash ,% Max
-- Cationic content, % by weight, min
-- Specific organisms
-- Protein %, min. N x 6.25
-- Total ash %, max
-- Staphylococcus aureus, count/g, max
-- Lead as Pb, mg/kg, max
-- Cadmium as Cd, mg/kg, max
-- Aflatoxin M1, ?g/kg
-- Listeria monocytogenes, per 25ml
-- Salmonella spp, per 25ml
-- Staphylococcus aureus, cfu per ml
-- Titratable acidity, %m/m lactic acid.
-- Milk Solids, non-fat, % min.
-- Density at 20 oC, g/ml
-- Crude fibre content, % m/m, max.
-- Acid insoluble ash on moisture free basis, %m/m, max.
-- Fat acidity on moisture free basis, mg KOH/100 g, max
-- Zinc as Zn mg/kg
-- Total aerobic count cfu/ g, max.
-- Escherichia coli cfu/g, max.
-- Salmonella spp per 25 g
-- Yeast and moulds cfu/g, max.
-- Staphylococcus aureus, cfu/g, max.
-- Moisture % (m/m), max.
-- Moisture content, %by mass,max
-- Acid insoluble ash on dry basis, % by mass,max
-- Acidity of extracted fat (as oleic acid), % by mass, max.
-- Salmonella spp, per 25g,
-- Yeast and Molds, per g, max├è
-- Magnesium, % m/m, min
-- Potassium, % m/m, min
-- Calcium, % m/m, min
-- Arsenic as Ar, mg/kg, max
-- Total Aflatoxin, ppb, max
-- Iron as Fe, mg/kg
-- Manganese as Mn, mg/kg
-- Vitamin A, mg/kg on dry matter
-- Milk Fat, % by mass, min.
-- Total fat, milk fat, % by mass, min
-- Milk solids, not fat, % by mass, min
-- Protein, % by mass, (min.)
-- Total Solids, % by mass, min.
-- Milk solids, non fat, % by mas, min.
-- Acidity as %, citric acid, min
-- Moisture, % by mass, max
-- Acid insoluble ash on dry basis, % by mass, max
-- Acid of extracted fat (as oleic acid), % by mass, max
-- Fat content, % by mass, max
-- Salmonella spp, CFU/ 25g
-- Total Aflatoxin, ppb
-- Foreign matter, % m/m, max.
-- Moisture and volatile matter, % m/m, max
-- Free fatty acid, (as oleic acid) % m/m, max
-- Shrunken/shrivelled, % m/m, max Class 1
-- Shrunken/shrivelled, % m/m, max Class 2
-- Disease damaged, % m/m, max Class 1
-- Disease damaged, % m/m, max Class 2
-- Pest damaged kernels, % m/m, max Class 1
-- Pest damaged kernels, % m/m, max Class 2
-- Living pests, % m/m, max Class 1
-- Living pests, % m/m, max Class 2
-- Milk Fat, % m/m, min.
-- Milk Solids non-fat, %, m/m, min
-- Titratable acidity, %├è
-- Bacillus cereus, cfu.g
-- Lactose contentc ,% m/m max
-- ABV, % by Vol.
-- E.coli,├è cfu/100ml
-- Total acidity, expressed as Malic acid, g/l
-- Pest damaged % max,
-- Aflatoxin B1 only, ppb max
-- Yeasts and moulds, max. per g
-- Escherichia coli, max. per g
-- Salmonella spp., max. per 25 g
-- Total solids, % by mass.
-- Bacillus cereus, per g
-- Salmonella spp, per 25 g
-- Total sugar (excluding lactose), %, mass, min
-- Sodium chloride, %m/m on D.M, max
-- Histamine as scromboids, ppm, max
-- Salmonella in 25 g
-- Escherichia coli, CFUg
-- Vibrio spp/25g
-- Leas as Pb, mg/kg, max
-- Mercury as Hg, mg/kg, max
-- Total Aflatoxins, ppb, Max.
-- Matter volatile at 105 ┬íC, % by mass, max
-- Insoluble impurities, % by mass, max
-- Soap content, % by mass, max
-- Iron as Fe, mg/kg, max
-- Copper as Cu, mg/kg, max
-- Acid value, mg KOH/g fat or oil, max.
-- Carbon dioxide b, gas volume, min
-- Coliforms, per 100 ml, max
-- Escherichia coli, per 25 g, (cfu/g), max
-- Staphylococcus aureas, per 25 g KS ISO 6881-1
-- Shigella per 25 g, max
-- Vibrio cholera, per 25 g, max
-- Total acidity g/l, as Citric acid, max
-- Total acidity g/l, as Tartaric acid, max
-- Ethyl alcohol content %, v/v, min
-- Moisture, % mass fraction, max
-- Volatile oil, ml/100 g, on D.M basis, min Grades 1 and 2
-- Volatile oil, on dry basis, min Grade 3
-- Total ash, % mass fraction on dry basis, max
-- Volatile oil,  % mass fraction on dry basis, min Grades 1&2
-- Crude fibre, % mass fraction, max
-- Total ash, %m/m
-- Total Phosphorous, min, %
-- Crude fibre, % by m/m, max
-- Moisture, % m/m,max
-- Fat acidity, mg KOH per 100 g of product, m/m, max
-- Tannin content on dry basis, % m/m, max
-- Acid insoluble ash,% m/m, max
-- E. coli, Cfu/g
-- Salmonella spp. in 25 g
-- Moisture, % m/m, max
-- Shrivelled/diseased/discolored grain % m/m, max
-- Pest damaged, % m/m, max.
-- Total Defective, % m/m, max
-- Contrasting varieties, % m/m, max
-- Other edible grains, % m/m, max
-- Chloride content as NaCl % by mass
-- Iodine as I,  mg/kg
-- Matter insoluble in water on D.M basis, %m/m, max
-- Copper as Cu mass on D.M basis, mg/kg, max
-- Magnesium as Mg water-soluble on D.M basis, %m/m, max
-- Acid Insoluble Matter % by mass
-- Arsenic as As, mg/kg, max
-- Reducing sugar, % m/m, min
-- Sucrose, % m/m, max
-- Acidity, % m/m, max. meq/kg
-- Ash, % m/m, max
-- Yeast and mould count, cfu/g, max
-- E. coli cfu/g, max
-- Clostridium perfringenes (For vacuum packed products), 25 g
